body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* HEADER CSS */

.header, .hero{
    background-color: #1f2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15em;
}

.logo{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

ul, li{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 1.5em;
}
/* Hero section */
.hero{
    height: 50vh;
    color: white;
    display: flex;
    padding: 5px 15rem;
    display: flex;
    gap: 65px;
    align-items: center;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.left p{
    font-size: 18px;
    color: #E5E7EB;
}
.left button{
    background-color: #3882f6;
    border: none;
    color: #F9FAF8;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 3px;
}
.right img{
    height: 300px;
    width: 600px;
}

/* Information section */

.info h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info img{
    width: 150px;
    height: auto;
    padding-bottom: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15rem;
    text-align: center;
}
.card-wrapper{
    display: flex;
    gap: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}